* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}



.container-fluid {
    padding: 3% 7%;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(back.png);
    background-position: centre;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1 {
    margin: 20px;
    width: 90%;
    max-width: 340px;
    color: white;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
    background-filter: blur(5px);
}

.card1 img {
    width: 140px;
    border-radius: 50%;
}


.card1 h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}

.card1 p {
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;
}

.card1 .links img {
    width: 40px;
    border-radius: 50%;
    margin: 10px, 15px;
    transition: background 0.5s;
}

.card1 .links img:hover {
    background: #ff01cf;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 550;
    background: #fff;
    color: #ff01cf;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: background 0.5s;
}

.card {
    margin: 10px;
    background-color: transparent;
    border-color: #fff;
    border-radius: 20px;


}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.card:hover img {
    background-image: url("https://media.giphy.com/media/Z4K8wAKa15UZJiJhJ0/giphy.gif")
}

.card .btn {
    margin: 3px;
    border: none;
}

.btn:hover {
    background: #ff01cf;
    color: #fff;
}

.card-title {
    color: #ffffff;
    padding: 0%;
}

.card-text {
    color: #ba99cb;
    padding: 0%;
}

.section1 {

    background: linear-gradient(-45deg, #210044, #440067, #6e0b87, #910079);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    font-family: 'Pacifico', cursive;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#title {
    text-align: left;
    position: relative;

}

card {
    margin: 5px;
}

.navbar {
    padding: 0 0 4.5rem 0;
}

.big-heading {
    margin-top: 80px;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.nav-item {
    padding: 0 18px;
    font-size: 18px;
}

.nav-item .resume {
    color: #ff01cf;
}

.navbar-brand {

    font-size: 2.5 rem;
    font-weight: bold;

}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;
}



@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .big-heading {
        text-align: center;
    }
}

.section2 {
    background-color: white;
    height: 100vh
}

#footer {
    color: #ffffff;
    text-align: center;
    padding: 50px 0;


}

#footer p {

    margin-top: 20px;

}

#footer a {

    color: white;
}

#footer i {
    margin: 10px;
    font-size: 1.5rem;
}

#footer a:hover {
    color: #ff01cf;
}

/* dark purple: #440067
magenta: #910079
mix of both:#6e0b87 
bluish dark purple:#210044 */